.DS_Store
Thumbs.db
.idea/
.vscode/
*.log

backend/.env.local
backend/.env.*.local
backend/var/
backend/vendor/
backend/public/bundles/
backend/public/build/
backend/phpunit.xml
backend/.phpunit.result.cache
backend/compose.override.yaml

frontend/node_modules/
frontend/.next/
frontend/build/
frontend/dist/
frontend/out/
frontend/.env.local
frontend/.env.*.local

frontend/npm-debug.log*
frontend/yarn-debug.log*
frontend/yarn-error.log*
frontend/pnpm-debug.log*

frontend/.vercel
